.portfolio-fullview
{
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1021;
    background-color: rgba(0, 0, 0, 0.8);
    display:none;
}

.portfolio-fullview.show
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-fullview>img {
    max-width: 80%;
    max-height: 80%;
    
    border-radius: 1rem;
    border: 5px solid rgba(255, 255, 255, 0.747);
}